<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
<div align="center">
    <h1>Cadastro</h1>
    <form action="/cadastro" method="post">
        <input type="text" name="nome" placeholder="Nome">
        <input type="text" name="email" placeholder="Email">
        <input type="text" name="senha" placeholder="Senha">
        <button type="submit">Cadastrar</button>
    </form>
</div>
</body>
</html>